.contact-card {
    display: flex;
    padding: 20px;
    color: #ffffff;
    background-color: #20B2AA;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 10px 10px 25px -16px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    max-width: 600px;
    max-height: 230px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: left;
    margin: 0 auto;
	
	
	
  }
  
  
  
  body{
	  background-color: rgb(183, 198, 199);
	  
  }


 .contact-card p {
    margin-left: 9px;
    margin-top: 0;
	  width: 180%;
	
  }
  
 
 #delete {
	 
  color: #707070;
  border-color: #20B2AA;
  cursor: pointer;
  width: 30%;
  max-height: 30%;
  border: 0;
  background: white;
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: white;
  
  margin-left: 18em;
  
	 
 }
 
 #back {
  color: #707070;
  border-color: #20B2AA;
  cursor: pointer;
  width: 80%;
  height: 19%;
  border: 0;
  background: white;
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: white;
  margin-left: 3em;
  margin-top: 12.5em;
	 
	 
	 
 }